

.formulaire {
	
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	display: inline-block;
   position:absolute;
   top:50%;
   left:50%;
   width:650px; /* A toi de donner la bonne largeur */
   height:200px; /* A toi de donner la bonne hauteur */
   margin-left:-500px; /* -largeur/2 */
   margin-top:-100px; /* -hauteur/2 */
}

.connexion {
	
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	display: inline-block;
   position:absolute;
   top:50%;
   left:50%;
   width:350px; /* A toi de donner la bonne largeur */
   height:200px; /* A toi de donner la bonne hauteur */
   margin-left:-300px; /* -largeur/2 */
   margin-top:-100px; /* -hauteur/2 */
}

body {
	
	background-image: url(../images/bk_img3.png);

	background-size: cover;
}

.centrer{
	display: block;
   margin : auto;
}

.affcontact {

	text-align: center;
}

.affbienvenue {
	margin-top:100px;
	text-align: center;
}


a { color: inherit; } 