

.formulaire {
	
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	display: inline-block;
   position:absolute;
   top:50%;
   left:50%;
   width:650px; /* A toi de donner la bonne largeur */
   height:200px; /* A toi de donner la bonne hauteur */
   margin-left:-500px; /* -largeur/2 */
   margin-top:-100px; /* -hauteur/2 */
}

.connexion {
	
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	display: inline-block;
   position:absolute;
   top:50%;
   left:50%;
   width:350px; /* A toi de donner la bonne largeur */
   height:200px; /* A toi de donner la bonne hauteur */
   margin-left:-300px; /* -largeur/2 */
   margin-top:-100px; /* -hauteur/2 */
}



.centrer{
	display: block;
   margin : auto;
}



body { 
  background: url(../images/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.affcontact {
	text-align: center;
}

